node_modules/
vite.config.js
*.map
*.html

.idea
.vscode
packages/
.github
src/
test/
.eslintignore
.eslintrc
.auto-imports.d.ts
.global.d.ts
index.html
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
tsconfig.json