
:root.darku {
  // 主背景颜色
  --background: #212D3E;
  // 数据概览页背景颜色
  --dashboardEditorContainer: #212D3E;
  // 主文字 颜色
  --mainTextColor: #fff;
  // 搜索块labe颜色
  --searchLabelTextColor: #fff;
  // 卡片颜色
  --cardPanelColor: rgba(24, 144, 255, .4);
  --cardPanelText: #fff;
  --cardPanelBoxShadow: 0px 4px 16px 0px rgba(11, 43, 72, 0.76), 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px -3px 11px 0px #B2DAFF;
  // 重置elementUi颜色
  --el-color-black: #212D3E;
  --el-color-white: #212D3E;
  --el-color-primary: #fff;
  --el-card-background-color: #fff;
  --el-text-color-regular: #fff;
  --el-text-color-primary: #fff;
  --el-text-color-secondary: #fff;
  --el-color-primary-light-9: #111;
  --el-background-color-base: #111;
  // tagview
  --tagsViewBackground: #212D3E;
  --tagViewItemBackground: #111;
  --tagViewTextColor: #fff;
  --tagViewItemBorder: none;
  --tagViewItemBoxShadow: 0px 4px 16px 0px rgba(11, 43, 72, 0.76), 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px -3px 11px 0px #B2DAFF;
  --el-border-color-extra-light: #111;
  --el-date-background-color: #111;

  .el-image-viewer__close,
  .el-image-viewer__actions__inner,
  .el-dropdown-menu__item {
    color: #000;
  }

  .el-loading-mask {
    background-color: rgba(255, 255, 255, .1);
  }
  .el-switch__action {
    background-color: #fff;
  }
}

:root {
  --background: #fff;
  --mainTextColor: #000;
  --dashboardEditorContainer: #fff;
  --tagsViewBackground: #fff;
  --cardPanelColor: rgba(0, 0, 0, 0.05);
  --cardPanelText: #000;
  --cardPanelBoxShadow: 4px 4px 40px var(--cardPanelColor);
  --searchLabelTextColor: #606266;
  --tagViewBackground: #fff;
  --tagViewItemBackground: #fff;
  --tagViewTextColor: #495060;
  --tagViewItemBorder: 1px solid rgba(124, 141, 181, 0.3);
  --tagViewItemBoxShadow: none;
  --el-date-background-color: #fff;
}